<style>
  
    .navbar {
      background:transparent !important; 
    }
    #navid{
    font-style: initial;
    font-size: 18px;
    font-weight: bold;
      color: black !important;
    }
    #cid{
        color:aqua!important;
    }
  </style>
  
  <nav id="navid" class="navbar navbar-expand fixed-top">
    <div class="container-fluid">
      <a id="cid" class="navbar-brand">Face Recognition System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-lg-0 text-center">
          
          <li class="nav-item">
            <a id="cid" class="nav-link active" aria-current="page" href="#about">About us</a>
          </li>
          <li class="nav-item">
            <a id="cid" class="nav-link active" href="#requirements">Careers</a>
          </li>
          <li class="nav-item">
            <a id="cid" class="nav-link active" href="contactus">Contact us</a>
          </li>
         </ul>
  
    <li>
      <a id="cid" style="text-decoration: none;" class="active" href="https://jayakrishnaprofile.onrender.com" target="_blank">Developer Information</a>
       
    </li>
      
      </div>
    </div>
  </nav>